@model DoctorsListViewModel
@{
    ViewData["Title"] = $"All Doctors, Page {@Model.PageNumber}";
    var specializationItems = Model.SpecializationItems.Select(s => new SelectListItem(s.Value, s.Key));
    var townItems = Model.TownItems.Select(s => new SelectListItem(s.Value, s.Key));
}

<div class="form-group col-md-3">
    <label asp-for="SearchTerm"></label>
    <input asp-for="SearchTerm" class="form-control" placeholder="Daniela Spasova..">
</div>

<div class="form-group col-md-3">
    <div class="form-group">
        <label asp-for="TownId"></label>
        <select asp-for="TownId" class="form-control" asp-items="townItems"></select>
        <span asp-validation-for="TownId" class="text-danger"></span>
    </div>
</div>
<div class="form-group col-md-3">
    <div class="form-group">
        <label asp-for="SpecializationId"></label>
        <select asp-for="SpecializationId" class="form-control" asp-items="specializationItems"></select>
        <span asp-validation-for="SpecializationId" class="text-danger"></span>
    </div>
</div>


<div class="container">
    <div class="row">
        @foreach (var doctor in Model.Doctors)
        {
            <div class="col-md-6">
                <div class="card flex-md-row mb-5 box-shadow">
                    <div class="col-md-7">
                        <img src="@doctor.ImageUrl" alt="@doctor.FullName" class="img-fluid rounded ">
                        <h4 class="text-center">@doctor.FullName</h4>
                        <p class="text-center">@doctor.SpecializationName - @doctor.TownName</p>
                    </div>
                    <div class="col-md-9 card-body">
                        <p class="card-text mb-auto">Age: @doctor.Age</p>
                        <p>Address: @doctor.Address</p>
                        <p>Email address: @doctor.Email</p>
                        <p>Phone: @doctor.PhoneNumber</p>
                        @if (@doctor.Experience != null)
                        {
                            <p>Experience: @doctor.Experience years</p>
                        }
                        <div class="col-md-12 text-center">
                            <a type="submit" class="btn-info" asp-area="" asp-controller="Appointment" asp-action="MakeAnAppointment" asp-route-doctorId="@doctor.Id">
                                Make An Appointment
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
