@model List<MedEx.Web.ViewModels.Administration.Dashboard.AllDoctorsViewModel>

<div class="container">
    <div class="row">
        @for (int i = 0; i < @Model.Count; i++)
        {
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow">
                <div class="col-md-7">
                    <img src="@Model[i].PictureUrl" alt="" class="card-img-top mb-2 w-100 rounded-circle">
                    <h4 class="text-center container-fluid">@Model[i].FullName</h4>
                    <p class="text-center">@Model[i].Specialization - @Model[i].Town</p>
                </div>
                <div class="col-md-9 card-body">
                    <p class="card-text mb-auto">Age: @Model[i].Age</p>
                    <p>Address: @Model[i].Address</p>
                    <p>Email address: @Model[i].Email</p>
                    <p>Phone: @Model[i].PhoneNumber</p>
                    @if (@Model[i].Experience != null)
                    {
                        <p>Experience: @Model[i].Experience years</p>
                    }
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">Verify</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
}
</div>
</div>