@model MedEx.Web.ViewModels.Administration.Dashboard.DoctorsListViewModel
@{
    ViewData["Title"] = $"All Recipes, Page {Model.PageNumber}";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <div class="row">
        @foreach (var doctor in Model.Doctors)
        {
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow">
                    <div class="col-md-7">
                        <img src="@doctor.PictureImagePath" alt="" class="card-img-top mb-2 w-100 rounded-circle">
                        <h4 class="text-center container-fluid">@doctor.FullName</h4>
                        <p class="text-center">@doctor.SpecializationName - @doctor.TownName</p>
                    </div>
                    <div class="col-md-9 card-body">
                        <p class="card-text mb-auto">Age: @doctor.Age</p>
                        <p>Address: @doctor.Address</p>
                        <p>Email address: @doctor.Email</p>
                        <p>Phone: @doctor.PhoneNumber</p>
                        @if (@doctor.Experience != null)
                        {
                            <p>Experience: @doctor.Experience years</p>
                        }
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success">Verify</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-area="Administration" asp-controller="Dashboard" asp-action="AppliedDoctors" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @{
        var potentialBackPage = Model.PageNumber - 1;
        if (potentialBackPage > 0)
        {
        <li class="page-item">
            <a class="page-link" asp-area="Administration" asp-controller="Dashboard" asp-action="AppliedDoctors" asp-route-id="@potentialBackPage">@potentialBackPage</a>
        </li>
        }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @{
        var potentialForwardPage = Model.PageNumber + 1;

        if (potentialForwardPage <= Model.PagesCount)
        {
        <li class="page-item">
            <a class="page-link" asp-area="Administration" asp-controller="Dashboard" asp-action="AppliedDoctors" asp-route-id="@potentialForwardPage">@potentialForwardPage</a>
        </li>
        }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-area="Administration" asp-controller="Dashboard" asp-action="AppliedDoctors" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>